:host-context() {
  --width-logo: 150px;
  ion-content {
    // --background: var(--deco-background-dark, #1b1e28);
  }
}
/* Settings Wizard
===========================================*/

ion-content {
  height: 100%;
  position: relative;
  ion-checkbox{
    margin-right:10px;
  }
  p {
    color: var(--deco-background-dark, #1b1e28);
    
    // font-weight: 900;
  }

  h1 {
    color: var(--deco-background-dark, #1b1e28);
    font-size: 20px;
    text-align:center;
    font-weight: 600;
  }
  ion-slide {
    position: relative;
  }
  /* Settings Card
  ===========================================*/
  ion-card {
    box-shadow: none;

    ion-avatar {
      margin: 20px auto;
      width: var(--width-logo, 150px);
      height: var(--width-logo, 150px);
    }
  }
}

ion-list {
  ion-item {
    --background: var(--deco-background-dark, #1b1e28);
    color: #fff;
  }
}

// Settings Button
ion-button {
  --color: #fff;
  --background: #CB0000;
  // font-size: 16px;
  font-weight: 900;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:10px;
  margin-right: 10px;
  z-index: 5;
  position: relative;
  display: block;
}
