<!-- Page Form-->
<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-uppercase">Deco New</ion-title>
    </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <!-- Input type name-->
        <ion-item class="ion-margin-top box-shadow" lines="none">
          <ion-input type="text" placeholder="Your Name" [(ngModel)]="authorName"></ion-input>
          <!-- Error for name valid-->
          <div class="item-content">
            <ion-icon ion-text *ngIf="!isAuthorValid" color="danger" name="remove-circle"></ion-icon>
          </div>
        </ion-item>
        <!-- Input type email-->
        <ion-item class="ion-margin-top box-shadow" lines="none">
          <ion-input type="text" placeholder="Your Email Address" [(ngModel)]="authorEmail"></ion-input>
          <!-- Error for email valid-->
          <div class="item-content">
            <ion-icon ion-text *ngIf="!isEmailValid" color="danger" name="remove-circle"></ion-icon>
          </div>
        </ion-item>
        <!-- Input type Comment -->
        <ion-item class="textarea ion-margin-top box-shadow" lines="none">
          <ion-textarea placeholder="Comment" [(ngModel)]="comment"></ion-textarea>
          <!-- Error for comments valid-->
          <div class="item-content">
            <ion-icon class="ion-margin-top ion-text" *ngIf="!isCommentValid" color="danger" name="remove-circle"></ion-icon>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!-- Wtite a comment-->
    <ion-button class="default-button box-shadow" expand="full" (click)="addComment($event)">Write a Comment</ion-button>
  </ion-toolbar>
</ion-footer>
